<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SuperLogger.RMQ.Settings"
         value='{ "HostName"    : "localhost",
                  "VirtualHost" : "/",
                  "Port"        : 5672,
                  "Exchange"    : "SuperLogger.fanout",
                  "UserName"    : "guest",
                  "Password"    : "Myrmq",
                  "RoutingKey"  : "super_logger",
                  "Queue"       : "SuperLogger"
                }'/>
    <add key='SuperLogger.SQL.ConnectionString'
         value='Server=JOSE-SANTOS-PC;Database=SuperLogger;User Id=SuperLoggerUser;Password=superlogger;' />
  </appSettings>

</configuration>