<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SuperLogger.RMQ.Settings"
         value='{ "HostName"    : "localhost",
                  "VirtualHost" : "/",
                  "Port"        : 5672,
                  "Exchange"    : "SuperLogger.fanout",
                  "UserName"    : "guest",
                  "Password"    : "Myrmq",
                  "RoutingKey"  : "super_logger",
                  "Queue"       : "SuperLogger"
                }'/>
    <!--<add key='SuperLogger.SQL.ConnectionString' value='Server=localhost;Database=SuperLogger;Trusted_Connection=True;' />-->

    <add key='SuperLogger.SQL.ConnectionString'
         value='Server=JOSE-SANTOS-PC;Database=SuperLogger;User Id=SuperLoggerUser;Password=superlogger;' />
  </appSettings>
</configuration>