<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Superlog.RMQ.Settings"
         value='{ "HostName" : "localhost",
                  "UserName" : "guest",
                  "Password" : "Myrmq",
                  "VirtualHost" : "/",
                  "Exchange" : "fanout",
                  "RoutingKey" : "logger",
                  "Queue" : "log"
                }'/>
    <add key='Superlog.SQL.ConnectionString'
         value='Server=JOSE-SANTOS-PC\MSSQLSERVER;Database=SuperLogger;User Id=SuperLoggerUser;Password=supperpassword;' />

  </appSettings>
</configuration>