<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RMQ.Settings"
         value='{ "HostName" : "localhost",
                  "UserName" : "guest",
                  "Password" : "Myrmq",
                  "VirtualHost" : "/",
                  "Exchange" : "fanout",
                  "RoutingKey" : "logger",
                  "Queue" : "log"
                }'/>
    
  </appSettings>
</configuration>